---
import Layout from "../Layout.astro";
import FormContact from "../components/FormContact.astro";
export const prerender = false;
---

<Layout title="Contact" description="Contact Mermind">
	<h1>Contact</h1>
	<FormContact />
</Layout>
