---
interface Props {
  columns?: 1 | 2 | 3 | 4;
  gap?: string;
  class?: string;
}

const { columns = 2, gap = "1.5rem", class: className, ...rest } = Astro.props;
const repeat = columns >= 2 ? (columns > 2 ? 2 : columns) : 1;
---

<div class:list={["grid", className]} {...rest}>
  <slot />
</div>

<style define:vars={{ columns, gap, repeat }}>
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;

    @media only screen and (min-width: 604px) {
      grid-template-columns: repeat(var(--repeat), 1fr);
    }

    @media only screen and (min-width: 1251px) {
      grid-template-columns: repeat(var(--columns), 1fr);
      gap: var(--gap);
    }
  }
</style>
