---
import Container from "../Container.astro";

interface Props {
	class?: string;
	narrow?: boolean;
	limed?: boolean;
	dimmed?: boolean;
	centered?: boolean;
	border?: "top" | "bottom" | "y";
	bg?: "dotted" | "dotted-x" | "paper-grid" | "stripes";
}

const {
	narrow = false,
	limed = false,
	dimmed = false,
	centered = false,
	class: className,
	border,
	bg,
	...rest
} = Astro.props;
---

<section
  class:list={[
    "section",
    narrow && `narrow`,
    limed && `limed`,
    dimmed && `dimmed`,
    centered && `centered`,
    border && `border-${border}`,
    bg && `bg--${bg}`,
    className,
  ]}
  {...rest}
>
  <Container>
    <div class="section--container">
      <slot name="header" class="section--header" />
      <div class="section--body">
        <slot />
      </div>
    </div>
  </Container>
</section>

<style>
  .section {
    padding: 3rem 0;
    @media only screen and (min-width: 1041px) {
      padding: 5rem 0;
    }
  }

  .section.limed {
    background-color: var(--color-background-limed);
  }

  .section.dimmed {
    background-color: var(--color-background-dimmed);
  }

  .section.border-top {
    border-top: 1px solid var(--color-border);
  }

  .section.border-bottom {
    border-bottom: 1px solid var(--color-border);
  }

  .section.border-y {
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
  }

  .section.narrow :global(.container) {
    @media only screen and (min-width: 1041px) {
      max-width: 991px;
      margin: 0 auto;
    }
  }

  .section.bg--dotted {
    background-image: radial-gradient(circle, var(--color-surface-darker) 1px,#0000 1px);
    background-size: 15px 15px;
  }

  .section.bg--dotted-x {
    background-image:  radial-gradient(var(--color-surface-darker) 1px, transparent 1px), radial-gradient(var(--color-surface-darker) 1px, transparent 1px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
  }

  .section.bg--paper-grid {
    background-image: linear-gradient(90deg, var(--color-surface) 1px, transparent 1px),linear-gradient(var(--color-surface) 1px, transparent 1px);
    background-size: 24px 24px;
    background-repeat: repeat;
  }

  .section.bg--stripes {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 32px, var(--color-surface-lighter) 32px, var(--color-surface-lighter) 64px);
  }

  .section--container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @media only screen and (min-width: 1041px) {
      gap: 3rem;
      flex-direction: row;
    }
  }

  :global(.section--header) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;

    @media only screen and (min-width: 604px) {
      margin: 0 auto;
    }

    @media only screen and (min-width: 1041px) {
      align-items: flex-start;
      text-align: left;
      flex: 1;
    }
  }

  :global(.section--header .alt-title) {
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-bottom: -0.5rem;
    @media only screen and (min-width: 1041px) {
      font-size: 1rem;
    }
  }

  :global(.section--header .title),
  :global(.section--header h2) {
    max-width: 30rem;
    margin: 0 auto;
  }

  .section--body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @media only screen and (min-width: 1041px) {
      flex: 2;
    }
  }

  /* centered section */
  .section.centered .section--container {
    @media only screen and (min-width: 1041px) {
      flex-direction: column;
    }
  }

  :global(.section.centered .section--header) {
    @media only screen and (min-width: 1041px) {
      align-items: center;
      text-align: center;
      max-width: 45rem;
    }
  }

  .section.centered .section--body {
    text-align: center;
    @media only screen and (min-width: 1041px) {
      flex: 1;
    }
  }

  :global(.section--footer) {
    text-align: center;
    margin-top: 2rem;
    @media only screen and (min-width: 1041px) {
      margin-top: 4rem;
      text-align: left;
    }
  }
</style>
